.groupchat-container {
  background: #F0F0F0;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction:column;
  box-shadow: var(--box-shadow-default);
}

.groupchat-messages {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.groupchat-newmessage {
  flex: 80px;
  flex-grow: 0;
  background: red;
}

.groupchat-log {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #014A77;
  border-radius: 5px;
}

.groupchat-container p {
  margin: 0;
  font-weight: 400;
}

.groupchat-other {
  background: #066BA7;
  max-width: 282px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

.groupchat-own {
  margin-left: auto;
  background: #919191;
  max-width: 282px;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

.groupchat-container h6 {
  font-weight: 200;
  font-size: 12px;
  margin: 0;
}

.groupchat-poll h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.groupchat-poll-options {
  
}