.card {
  height: 11.5em;
  max-width: 17em;
  background: linear-gradient(
    to right,
    #014a77,
    #066ba7
  ); /* Gradient background */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
  box-shadow: 4px 4px 10px rgba(6, 107, 167, 0.2);
  font-family: "Arial", sans-serif;
  margin: 16px; /* Add a 10-pixel space in all directions */
  font-family: Albert Sans;
}
.card h3 {
  margin: 0;
}

.card-img-div {
  display: flex;
  justify-content: flex-end;
}

.card-logo-img {
  width: 100px;
}
.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  height: 1.5em;
}

.card-information {
  margin-bottom: 1em;
}
