.savings-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-default);
  background-color: var(--text-color-white);

  p,
  h2 {
    margin: 0;
    padding: 0;
    color: var(--text-color-blue);
    width: fit-content;
  }
}

.savings-card h2 {
  font-size: 20px;
}

.savings-amount {
  font-size: 2rem;
  font-family: Inter;
  color: var(--text-color-blue);
}

.chart {
  display: flex;
  justify-content: space-between;
  height: 100px;
  gap: 10px;
}

.bar {
  margin-top: auto;
  flex: 1;
  background: rgb(57, 57, 156);
  border-radius: 10px 10px 0 0;
}

.full-height {
  height: calc(100vh - 100px);
}
