/* General Styles */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: white;
  margin: 0;
  padding: 0;
} */

/* Container */

.name-container {
  margin: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  font-size: 24px;
  color: #014a77;
}

.header button {
  background-color: #014a77;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: #013a5e;
}

Form form {
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #014a77;
  font-size: 18px;
}
.inputLabel {
  color: #919191;
}

/* form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

form button {
  background-color: #014a77;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #013a5e;
}

/* Container styling to center buttons */
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping if needed */
  gap: 5px; /* Control the space between items */
  padding-left: 50px;
  padding-right: 50px;
}

.event-button {
  display: flex;
  background-color: gray;
  border: none;
  /* padding: 0px 20px; */
  /* border-radius: 10px; */
  align-items: center;
  height: 70px;
  width: 70px;
  justify-content: center; /* Center horizontally */
}
.event-button img {
  width: 40px;
  height: 40px;
}

.event-button.selected {
  /* Add styles for the selected button here */
  background-color: #014a77;
  color: #fff;
}

/* People Selector */
.people-selector div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.people-selector input[type="checkbox"] {
  margin-right: 10px;
}
.upper-navbar-container {
  height: 2rem;
  background-color: var(--text-color-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow to navbar */
}

.upper-navbar-container p {
  margin: 0;
  padding: 0;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 60%;
  align-items: center;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: #919191;
  font-size: 16px;
  padding-left: 10px;
}
.Screen {
  background-color: #e1e4e5;
}
.upperButtons {
  display: flex;
  justify-content: space-between; /* Distribute space between the buttons */
  align-items: center; /* Center the buttons vertically */
  width: 100%; /* Ensure the div takes the full width of the parent */
}

.upperButtons button {
  background-color: transparent;
  color: #919191;
  height: 20px;
  font-size: 18px;
  /* Distribute space between the buttons */
}
.upperButtons button.selected {
  background-color: transparent;
}

.upperButtons .submitBtn {
  background-color: transparent;
  color: #014a77;
  border: none;
}

.upperButtons button:hover {
  background-color: transparent;
  border: none;
}
